<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bbwres.biscuit.module.auth.dao.RoleAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.bbwres.biscuit.module.auth.entity.RoleAccountEntity">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="login_account_id" property="loginAccountId" />
        <result column="role_id" property="roleId" />
        <result column="remark" property="remark" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, creator, updater, update_time, login_account_id, role_id, remark, tenant_id
    </sql>

    <!-- 根据账号id查询出角色信息（忽略租户过滤） -->
    <select id="findByAccountIdNoTenant" resultType="cn.bbwres.biscuit.module.auth.entity.RoleEntity">
        select r.* from t_role_account ra left join t_role r on r.id = ra.role_id
        where ra.login_account_id = #{accountId,jdbcType=VARCHAR}
        and r.status = #{status}
    </select>

    <!-- 根据账号id查询出角色信息（有租户过滤） -->
    <select id="findByAccountId" resultType="cn.bbwres.biscuit.module.auth.entity.RoleEntity">
        select r.* from t_role_account ra left join t_role r on r.id = ra.role_id
        where ra.login_account_id = #{accountId,jdbcType=VARCHAR}
        and r.status = #{status}
    </select>

    <!-- 根据账号id查询出角色信息，支持按客户端id筛选（有租户过滤） -->
    <select id="findByAccountIdAndClientId" resultType="cn.bbwres.biscuit.module.auth.entity.RoleEntity">
        select r.* from t_role_account ra left join t_role r on r.id = ra.role_id
        where ra.login_account_id = #{accountId,jdbcType=VARCHAR}
        and r.status = #{status}
        <if test="clientId != null and clientId != ''">
            and r.client_id = #{clientId,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>
